<div class="contents row">
  <div class="container">
    <h2>新規登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name_sei, "名字" %><br />
        <%= f.text_field :name_sei %>
      </div>

      <div class="field">
        <%= f.label :name_mei, "名前" %><br />
        <%= f.text_field :name_mei %>
      </div>

      <div class="field">
        <%= f.label :extention_number, "内線番号" %><br />
        <%= f.text_field :extention_number %>
      </div>

      <div class="field">
        <%= f.label :division, "部署" %><br />
        <%= f.text_field :division %>
      </div>

      <div class="field">
        <%= f.label :section, "グループ名" %><br />
        <%= f.text_field :section %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録する" %>
      </div>
    <% end %>
  </div>
</div>
