<%# CSS・・・assets/stylesheets/list.css %>

<%# if some_condition %> <!-- 一定条件が満たされた場合現在使用中の機器を表示する -->
  <h3>現在使用中の機器</h3>
    使用中の機器があるとき、以下のように表示する。
    <div class='list-all'>

      <div class='list-nav'>
      <div class='list-info'>
        機器：<%= "機器名" %><br>
        利用者：<%= "利用者名" %><br>
        内線番号：<%= "内線番号" %><br>
      </div>
      </div>

      <div class='list-nav'>
      <div class='list-info'>
        機器：<%= "機器名" %><br>
        利用者：<%= "利用者名" %><br>
        内線番号：<%= "内線番号" %><br>
      </div>
      </div>

      <div class='list-nav'>
      <div class='list-info'>
        機器：<%= "機器名" %><br>
        利用者：<%= "利用者名" %><br>
        内線番号：<%= "内線番号" %><br>
      </div>
      </div>

    </div>
<%# else %>
  <br>
  <br>
  使用中の機器がないとき、以下のように表示する。
  <p>現在使用中の機器はありません。</p>
<%# end %>
